 div.first{
    border: 1px solid red;
    width: 150px;
    height: 200px;
}
div.second{
    /*border: 1px solid red;*/
    width: 150px;
    height: 200px;

    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;

    /*margin 축약형*/
    /*4개일때 - top,right,bottom,left / 12시부터 시계방향*/
    margin: 50px 40px 30px 20px;
    /*3개일떄 - top,좌우, bottom (ex-위에는 50 , 좌우는 30, 아래는 20)*/
    margin: 50px 30px 20px;
    /*2개일때 - 위아래, 좌우 */
    margin: 50px 30px;
    /*1개일때 - 상하좌우(4방향 다)*/
    margin: 30px;

    /*테두리 안쪽에 있는 윗부분이 떨어짐 */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 5px;

    padding: 30px;

    border-top-width: 3px;
    border-top-style: dotted;
    border-top-color: blue;

    border-right: 2px dashed green;
    border: 1px solid red;

    border-radius:10px;
}

.profile img{
    border: 1px solid #000;

    width: 200px;
    height: 200px;

    border-radius: 50% ;
}

.chat-right{
    border: 1px solid black;
    background-color: yellow;

    width: 100px;
    padding: 5px;
    margin: 10px;

    text-align: center;

    border-radius: 10px 0 10px 10px;
}

.width{
    border: 1px solid red;
    width: 70%;

    min-width: 500px;/*최소 넓이 고정 min-width*/
    max-width: 600px;/*최대 넓이 고정 max-width*/
}

#auto{
    border: 1px solid red;
    width: 100px;

    margin: 0 auto; /* 상하는 0 - 즉 마진을 주지 않겠다. 좌우방향은 auto*/   
}
/*  
    마진중첩 - 세로 방향으로 붙어 있을 때 
    또는 부모와 첫번째 자식 간에 
    margin이 더해지지 않고 큰값하나만 적용되는 현상

    해법
    border, padding 등 적용
    컨텐츠 적기
    부모에 overfiow: hidden 주기 - 추천방법
*/
#div1,#div2,#div3{
    /*border: 1px solid red;*/
}
#div2,#div3{
    margin: 30px;
}
#div3{
    margin: 50px;
}
#div1{
    margin: 10px;
   /* padding: 1px;*/
   overflow: hidden;
}
#div2{
   /* margin-top: -1px;*/
}

body{
    margin: 0px;
    padding: 0px;
}

.box{
    border: 10px solid red;
    width: 300px;
    height: 300px;

    margin: 50px;
}

.box-sizing{
    /*box-sizing: border-box 넓이나 높이를 보더 영역까지 확장해줌*/
    padding: 50px;
    
    box-sizing: border-box;
}