#back1{
    /*background-color: #fab;*/
    background-color: #ffaabb;
}

#back2{
    /*백그라운드에 이미지 삽입하기/ 원래사이즈를 유지하면서 반복으로 보여준다 background-image
    처음 입힌 사진이 위쪽에 보인다*/
    border: 1px solid red; 
    height: 250px;
    background-image: /*url("https://images.icon-icons.com/1861/PNG/96/phonebooth_118224.png"),*/
    url("https://mblogthumb-phinf.pstatic.net/20160427_9/gkfngkfn414_1461740691245IfBjs_JPEG/%B1%D7%B8%AE%B1%E2_%BD%AC%BF%EE_%B8%B8%C8%AD_%C4%B3%B8%AF%C5%CD_%BF%B1%B1%E2%C5%E4%B3%A2_%B8%B6%BD%C3%B8%B6%B7%CE_%BC%D5%B1%D7%B8%B2_%B0%AD%C1%C28.jpg?type=w420");
    background-repeat: /*repeat-x*/ /*repeat-y*/no-repeat;
    /*epeat-x - 가로반복 , repeat-y - 세로반복 ,no-repeat-한번만 반복하고 싶을떄 */
    /*background-size: 100px 250px;
    가로방향-100, 세로방향 -250*/
    /*background-size: 100% 100%;*/
    /*background-size: cover; 
    /*cover-원본사이즈 비율을 유지한채로 다 덮어주기*/
   /* background-size: contain; 
   /*그림을 온전히 보고 싶을때 사용함/원본의 비율을 유지하면서 노출*/
   background-size: 100px 100px;
   /*background-position: right bottom;*/
   background-position: center;
}

.profile{
    border: 1px solid black;
    height: 500px;
    width: 500px;

    background-image:url("https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F241%2F2024%2F03%2F28%2F0003339855_001_20240328174601300.jpg&type=sc960_832");
    border-radius: 50% ;
    background-position: 0px 0px; /*위아래, 좌우 사진 정리해주는거*/
    background-repeat: no-repeat; /* 사진 반복 안되게 해줌*/
    /*background-size: ; 사진크기 조율 해줌*/
}
#back3{
    height: 80vh;
    background-image: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimg-cdn.theqoo.net%2FgcXowV.jpg&type=sc960_832");
    background-size: cover;
    background-attachment: fixed;

    overflow: auto ;
}
#back3 p{
    height: 200vh;
}

#back4{
    height: 100px;
    background: yellow url("https://images.icon-icons.com/1861/PNG/96/phonebooth_118224.png") center/100px 100px;
}
